
/** ADD YOUR AWESOME CODES HERE **/


.alert-fixed {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
   
}

.text-warning{
    color:white;
    font-weight: bold;
    
}
